img{
    width: 100%;
}

.card-img-top:hover{
    transform: scale(.97);
}

.game-color{
    background-color: lightslategray !important;
    color: darkorange !important;
}

@media only screen and (max-width: 576px){
    .score-text{
        font-size: 1.25rem;
    }
}